<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3 class="title is-3">All Users</h3>
      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
          <%= link_to "Message #{user.email}", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post", class: "btn btn-primary mb-2 d-block" %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-9">
      <h3 class="title is-3">Conversations</h3>
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <% unless current_user.id == recipient.id %>
            <div class="row mb-2">
              <div class="col-2">
                <%= gravatar_for recipient, size: 32, class: "rounded-circle" %>
              </div>
              <div class="col-10">
                <%= link_to recipient.email, conversation_messages_path(conversation), class: "btn btn-link" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
